/* General Styles */
:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --white-text-color: #ffffff;
  --footer-text-color: #f4f4fd;
  --hover-color: #404bbf;
  --border-lines: #e7e9fc;
}

.page {
  background-color: var(--white-text-color);
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
/* Page Header */
/* Header Navigation */
/* Header Logo */

.page-nav {
  background-color: var(--white-text-color);
}

.head-logo {
  color: var(--accent-color);
}
.studio {
  color: var(--title-text-color);
}

/* Site navigation */

.hover-item {
  color: var(--title-text-color);
}

.current {
  color: var(--hover-color);
}

.hover-item:hover,
.hover-item:focus {
  color: var(--hover-color);
}

/* Contacts nav */

.intouch {
  text-decoration: none;
}

.intouch:hover,
.intouch:focus {
  color: var(--hover-color);
}

.intouch {
  color: var(--primary-text-color);
}

/* Hero */

.hero {
  background-color: var(--title-text-color);
}

.hero-title {
  color: var(--white-text-color);
}

/* Button Order */

.button {
  color: var(--title-text-color);
  background-color: var(--white-text-color);
}

.order {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}

.order:hover,
.order:focus {
  color: var(--white-text-color);
  background-color: var(--hover-color);
}
/* Section 1 Service Filter */

.features-title {
  color: var(--title-text-color);
}

.features-text {
  color: var(--primary-text-color);
}

/* Section 2 Examples */

.examples-title {
  color: var(--title-text-color);
}

/* Section 3 Our Team */

.team {
  background-color: var(--footer-text-color);
}

.team-title {
  color: var(--title-text-color);
}

.worker-title {
  color: var(--title-text-color);
}

.position-text {
  color: var(--primary-text-color);
}
/* Footer style for studio */

.footer {
  background-color: var(--title-text-color);
}
.studio-secondary {
  text-decoration: none;
}
.studio-secondary {
  color: var(--accent-color);
}
.studio-footer {
  color: var(--footer-text-color);
}

.footer-text {
  color: var(--footer-text-color);
}

/* Portfolio */

.filter {
  color: var(--accent-color);
  background-color: var(--footer-text-color);
}

.filter:hover,
.filter.focus {
  color: var(--white-text-color);
  background-color: var(--hover-color);
}

/* Services */

/* Колір параграфів #434455 */
/* Heading color #2E2F42 */
/* White text #ffffff */
/* Web color #4D5AE5 */
/* hero background color #2E2F42 */
/* Background and foot Studio color #F4F4FD */
/* Image borders color #E7E9FC */
/* Portfolio nav color All */
/* border lines #E7E9FC */
/* Hover #404BBF */
